<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log in!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container-full h-[100vh]">
    <div class="flex flex-row h-full">
        <div class="basis-2/4 ">
            <form method="post">

            <div class="mt-8 ">
                <div class="font-extrabold text-2xl text-center">
                    beraka .
                </div>

                <div class="flex justify-center mt-4 ">
                    <div class="flex flex-col">
                        <h1 class="h3 mb-3 font-bold ">Sign in</h1>
                        <div class="mb-3">
                            <label for="inputEmail" class="block">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="rounded"
                                   autocomplete="email" required autofocus>
                        </div>
                        <div class="mb-4">
                            <label for="inputPassword" class="block">Password</label>
                            <input type="password" name="password" id="inputPassword" class="rounded" autocomplete="current-password"
                                   required>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <button class="rounded bg-gray-950 hover:bg-gray-900 py-2 px-4 text-white" type="submit">
                            Sign in
                        </button>
                    </div>

                </div>
            </div>


                {% if error %}
                    <span class="text-center mt-8 px-3 py-2 text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                {% endif %}

                {% if app.user %}
                    <div class="mt-8 text-center px-3 py-2 text-950 ">
                        You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


            </form>
        </div>
        <div class="basis-2/4 bg-gray-800 " >

        </div>
    </div>

</div>
</body>
</html>

