<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log in!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-4 login-background">
            <!-- Contenu de la partie droite, si nécessaire -->
        </div>
        <div class="col-md-8 ">
            {% include '_partials/_flash.html.twig'%}
            <form method="post" class="h-100 d-flex align-items-center ms-5 ">
                <div class="">
                    <div class="mb-4 fs-4 ">
                        Sign in to  <span class="fw-bolder">  beraka .</span>
                    </div>

                    <div class="d-flex">
                        <div>

                            <div class="form-group mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-100" autocomplete="email" required autofocus>
                            </div>
                            <div class="form-group mb-4">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-dark mt-2" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>

                    {% if error %}
                        <div class="text-center mt-3 text-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mt-3 text-center text-dark">
                            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </div>



            </form>
        </div>

    </div>
</div>
</body>

</html>

